body {
    background-color: #24404B;
    margin: 10px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #38A391;
}

#contentContainer {
    width: 550px;
    height: 350px;
    overflow: hidden;
    background-color: #336E67;
    display: flex;
    align-items: center;
}

#circle {
    width: 100px;
    height: 100px;
    background-color: #4BB9;
    border-radius: 50%;
}

#move {
    background-color: #38A391;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}
#move:hover {
    background-color: #4BB99A;
}
#move:active {
    background-color: #8EC3B8;
}

#playPauseMove {
    background-color: #38A391;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
}
#playPauseMove:hover {
    background-color: #4BB99A;
}
#playPauseMove:active {
    background-color: #38A391;
}
