body {
    background-color: blanchedalmond;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 30pt;
    margin-bottom: 15px;
    text-align: center;
}

p {
    text-align: left;
    margin: 0;
    text-transform: lowercase;
    font-size: 10pt;
    font-weight: 900;
    width: 50%;
    display: none;
    text-align: center;
}

.gameButton{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

a span{
    position: relative;
    z-index: 2;
}

a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

a:hover{
    color: #fff;
}

a:hover:after{
    width: 100%;
}
